@page
@model ToDoListRazor.CreateToDoModel
@{
    ViewData["Title"] = "Create Todo";
}

<h1>Create Todo</h1>

@if (string.IsNullOrWhiteSpace(Model.ErrorMessgae) == false)
{
    <h2 class="text-danger">@Model.ErrorMessgae</h2>
}

<form method="post">
    <input asp-for="ToDoText" type="text" placeholder="To Do Item" />
    <input asp-for="IsComplete" type="checkbox" />
    <button type="submit">Add ToDo Item</button>
</form>